@{
    ViewData["Title"] = "About Us";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<div class="container main-container clearfix">
    <div class="col-md-6">
        <img src="~/img/giphy.gif" class="img-responsive" alt="" />
    </div>
    <div class="col-md-6">
        <h3 class="uppercase">About Us </h3>
        <h5>I guess we do gaming systems now? Idk anymore.</h5>
        <div class="h-30"></div>
        <p>Since its foundation in 1995 by David Russ, Box has held fast to its early vision, by changing what we sell as often and confusingly as possible.</p>

        <p>Now we sell gaming systems.</p>

        <p>If you're confused, so are we. We'll get through this together. </p>

        <div class="h-10"></div>
        <ul class="social-ul">
            <li class="box-social"><a href="#0"><i class="ion-social-facebook"></i></a></li>
            <li class="box-social"><a href="#0"><i class="ion-social-instagram-outline"></i></a></li>
            <li class="box-social"><a href="#0"><i class="ion-social-twitter"></i></a></li>
            <li class="box-social"><a href="#0"><i class="ion-social-dribbble"></i></a></li>
        </ul>


    </div>
</div>