@{
    ViewData["Title"] = "Home Page";
}

<!-- box-intro -->
    <section class="box-intro">
        <div class="table-cell">
            <h1 class="box-headline letters rotate-2">
                <span class="box-words-wrapper">
                    <b class="is-visible">box.</b>
                    <b>gaming.</b>
                    <b>&nbsp;&nbsp;i guess.</b>
                </span>
		    </h1>
            <h5>i honestly can't keep track anymore.</h5>
        </div>

        <div class="mouse">
            <div class="scroll"></div>
        </div>
    </section>
<!-- end box-intro -->