
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center align-middle">Something went wrong!</h2>
<div class="container main-container clearfix">
    <div class="col-md-6">
        <img src="~/img/giphy.gif" class="img-responsive" alt="" />
    </div>
    <div class="col-md-6">
        <div class="h-30"></div>
        <p>Somehow you really messed up.</p>

        <p>Don't worry, I'm sure it wasn't your fault that you can't use a super basic website. Your parents just raised you wrong.</p>

        <a asp-action="Index" asp-controller="Home">Click here to fix your agregious error.</a>
    </div>
</div>