
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1>Employee Names</h1>
    <p>Please select an employee name:</p>
    @foreach (string currentname in ViewBag.EmployeeNames)
    {
        <p>
            @Html.ActionLink(currentname, "Details", new{employeeName = currentname})
            <a asp-action="Details" asp-route-employeename="@currentname">@currentname</a>
        </p>
    }
</div>