
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Other Index view</h1>
    <div>Number in viewbag: @ViewBag.number</div>
</body>
</html>
